---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import ContentSection from '../components/ContentSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
---

<Layout title='Tesla Landing Page Clon'>
  <PageHeader />

  <main class='snap-y snap-mandatory relative w-full h-screen overflow-auto'>
    <div class='snap-center'>
      <ContentSection />
    </div>
    <div class='snap-center'>
      <ChargeSection />
    </div>
  </main>
</Layout>
