<section
  class='relative h-screen w-full text-center bg-black text-white overflow-hidden'
>
  <div class='pb-20 flex flex-col justify-between h-full'>
    <header class='z-30 relative mt-28'>
      <h2 class='mb-2 text-[40px]/[40px] font-medium'>Model 3</h2>
      <a href='#' class='text-sm underline'>Explore inventory</a>
    </header>

    <footer
      class='z-30 relative flex justify-center gap-x-6 text-sm font-medium [&>a]:py-3 [&>a]:w-[264px] [&>a]:rounded'
    >
      <a href='#' class='bg-gray-800/[0.8]'>Order</a>
      <a href='#' class='bg-white/[0.65] text-black'>Drive test</a>
    </footer>
  </div>

  <div class='absolute top-0 w-full h-full'>
    <img
      src='/Model-3-Desktop.avif'
      alt='Model 3'
      class='w-full h-full object-cover'
    />
  </div>
</section>
