<section
  class='page-section relative h-screen w-full text-center text-white overflow-hidden'
  data-header-color='white'
>
  <div class='pt-28 pb-20 flex flex-col justify-between h-full'>
    <header class='z-30 relative'>
      <h2 class='mb-2 text-[40px]/[40px] font-medium'>Model Y</h2>
      <a href='#' class='text-sm underline'>Schedule a drive test</a>
    </header>

    <footer
      class='z-30 relative flex justify-center gap-x-6 text-sm font-medium [&>a]:py-3 [&>a]:w-[264px] [&>a]:rounded'
    >
      <a href='#' class='bg-gray-800/[0.8]'>Custom order</a>
      <a href='#' class='bg-white/[0.65] text-black'>Explore inventory</a>
    </footer>
  </div>

  <div class='absolute top-0 w-full h-full'>
    <video
      src='/Homepage-video1.mp4'
      autoplay
      class='w-full h-full object-cover'></video>
  </div>
</section>
